/*******************************************************************************
Originally based on the
Slate Theme for Github Pages
by Jason Costello, @jsncostello
*******************************************************************************/

@import url(pygment_trac.css);

/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a:focus {
  outline: none;
}

/*******************************************************************************
Overall style
*******************************************************************************/

body {
  color: #373737;
  background: #212121;
  font-family: 'Bitstream Vera Sans', 'DejaVu Sans',
               Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, th {
  font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1ex 0em;
}

h1 { font-size: 250%; color: #000066; margin-top: 3ex; margin-left: 0.8em; }
h2 { font-size: 180%; color: #005500; margin-top: 2ex; margin-left: 2.2em; }
h3 { font-size: 150%; color: #440000; margin-left: 4em; }
h4 { font-size: 120%; color: #222200; margin-left: 6.6em; }

p {
  margin: 0ex 0em 2ex;
}

em, i {
  font-variant: italic;
}

strong, b {
  font-weight: 700;
}

a {
  text-decoration: none;
  color: #0066cc;
  text-shadow: none;

  transition: color 0.5s ease;
  transition: text-shadow 0.5s ease;
  -webkit-transition: color 0.5s ease;
  -webkit-transition: text-shadow 0.5s ease;
  -moz-transition: color 0.5s ease;
  -moz-transition: text-shadow 0.5s ease;
  -o-transition: color 0.5s ease;
  -o-transition: text-shadow 0.5s ease;
  -ms-transition: color 0.5s ease;
  -ms-transition: text-shadow 0.5s ease;
}

#main_content a:hover {
  color: #0033ee;
  text-shadow: #009999 0px 1px 3px;
}

pre, code, tt {
  color: #330000;
  background-color: #ffffdd;
  font-family: 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', Monaco,
               'Lucida Console', Terminal, monospace;
}

code, tt {
  padding: 2px;
}

pre {
  width: 90%;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  padding: 1ex 1em;
  margin: 2ex 0em;
  border: 1px solid #ccc;
  box-shadow: 3px 3px 10px rgba(0,0,0,.1);
  overflow: auto;
}

table {
  margin-bottom: 4ex;
}

td, th {
  border: 1px solid #003300;
}

th {
  padding: 1.5ex 3em 1ex;
  text-align: center;
  background: #aaffcc;
  color: #004400;
}

td {
  padding: 0.2ex 1em;
  border: 1px solid #373737;
  text-align: left;
}

dl dt {
  font-weight: bold;
  color: #990033;
}

dl dd {
  padding-left: 2em;
}

dl.docutils>dt {
  float: left;
  clear: left;
  width: 10em;
  padding: 0.5ex 0em 0ex;
  margin: 0px;
  text-align: right;
}

dl.docutils>dd {
  margin: 0 0 0 10em;
  padding: 0.5ex 0.5em;
}

.contents ul { margin-left: 2em; }

/*******************************************************************************
Full-Width Styles
*******************************************************************************/

.outer {
  width: 100%;
}

.inner {
  position: relative;
  padding: 20px 10px;
  margin: 0 auto;
}

#forkme_banner {
  display: block;
  position: absolute;
  top:0;
  right: 10px;
  z-index: 10;
  padding: 10px 50px 10px 10px;
  color: #fff;
  background: url('../images/blacktocat.png') #0090ff no-repeat 95% 50%;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

#header_wrap {
  background: #212121;
  background: -moz-linear-gradient(top, #373737, #212121);
  background: -webkit-linear-gradient(top, #373737, #212121);
  background: -ms-linear-gradient(top, #373737, #212121);
  background: -o-linear-gradient(top, #373737, #212121);
  background: linear-gradient(top, #373737, #212121);
}

#header_wrap .inner {
  padding: 50px 10px 30px 10px;
}

#header_wrap h1 {
  margin: 0px 1em;
  color: #cceeff;
  font-size: 200%;
}

#header_wrap h2 {
  margin: 0px 3em;
  font-size: 120%;
}

#project_title {
  margin: 0;
  color: #fff;
  font-size: 42px;
  font-weight: 700;
  text-shadow: #111 0px 0px 10px;
}

#project_tagline {
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  background: none;
  text-shadow: #111 0px 0px 10px;
}

#main_content_wrap {
  background: #f2f2f2;
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
}

#main_content {
  padding-top: 40px;
}

#footer_wrap {
  background: #212121;
}

footer p {
  color: #f2f2f2;
}
